body{
    background-color: #8AE3A8;
}

#score{
    color:darkcyan;
    font-size: 20px;
    margin-right:950px;
    font-weight: bold;
}

#timer{
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}

h1{
    background-color: mediumaquamarine;
    color: black;
}

#ur_sketch, #acc{
    font-size: 20px;
    color: goldenrod;
}

#stbd{
    color: darkmagenta;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
    
